* {
    margin: 0;
    padding: 0;
}

html {
    background: #3d3d3d;
}

div#app {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div#app header {
    font-family: 'Rajdhani', sans-serif;
    margin-top: 1.5em;
    font-size: 4em;
    color: #6c6c6c;
}

div#app .preview {
    background-color: rgba(0, 0, 0, 0.32);
    border: 1px solid #000;
    margin: 0 auto;
    width: 25em;
    height: 25em;
    transition: all ease-in-out 0.4s;
}

div#app .preview>input {
    color: #ddd;
    background-color: #505050;
    font-size: 15px;
    font-weight: bold;
    width: 45px;
    position: relative;
    text-align: center;
}

div#app .preview>input#top-left {
    left: -40%;
}

div#app .preview>input#bottom-left {
    left: -67%;
    top: 94.5%;
}

div#app .preview>input#top-right {
    left: 66%;
}

div#app .preview>input#bottom-right {
    left: 40%;
    top: 94.5%;
}

div#copy {
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
    color: #6c6c6c;
    font-size: 2em;
    border: 1px solid #6c6c6c;
    width: 6em;
    margin: 23px auto;
    padding: 7px;
    border-radius: 19px;
    transition: background-color ease-out 0.3s;
}

div#copy:hover {
    background-color: #2d2d2d;
    transition: background-color ease-in 0.2s;
}

div#copy:active {
    transform: scale(0.9);
    transition: all ease-out 0.2s;
}

pre#dummy {
    color: transparent;
}